.row {
  @mixin clearfix;
}

.row--gutters {
  margin-right: -65px;
  & > div {
    padding-right: 65px;
  }
}

.row--gutters-lg {
  margin-right: -105px;
  & > div {
    padding-right: 105px;
  }
}

.row__column {

  @mixin atMedium {
    float: left;
  }
}

.row__column-1 {
  width: 100%;
  @mixin atMedium {
    width: 8.33%;
  }
}

.row__column-2 {
  width: 100%;
  @mixin atMedium {
    width: 16.66%;
  }
}

.row__column-3 {
  width: 100%;
  @mixin atMedium {
    width: 24.99%;
  }
}

.row__column-4 {
  width: 100%;
  @mixin atMedium {
    width: 33.33%;
  }
}

.row__column-4--larger {
  @mixin atMedium {
    width: 37.33%;
  }
}

.row__column-5 {
  width: 100%;
  @mixin atMedium {
    width: 41.66%;
  }
}

.row__column-6 {
  width: 100%;
  @mixin atMedium {
    width: 49.99%;
  }
}

.row__column-7 {
  width: 100%;
  @mixin atMedium {
    width: 58.33%;
  }
}

.row__column-8 {
  width: 100%;
  @mixin atMedium {
    width: 66.66%;
  }
}
.row__column-8--smaller {
  @mixin atMedium {
    width: 62.66%;
  }
}

.row__column-9 {
  width: 100%;
  @mixin atMedium {
    width: 74.99%;
  }
}

.row__column-10 {
  width: 100%;
  @mixin atMedium {
    width: 83.33%;
  }
}

.row__column-11 {
  width: 100%;
  @mixin atMedium {
    width: 91.66%;
  }
}

.row__column-1 {
  width: 100%;
  @mixin atMedium {
    width: 99.99%;
  }
}
