.section {
  padding: 1.5rem 0;

  @mixin atSmall {
    padding: 4.5rem 0;
  }
}

.section--padding-bottom-0 {
  padding-bottom: 0;

  @mixin atSmall {
    padding-bottom: 4.5rem;
  }
}

.section--with-bg-img {
  background: #e0e6ef;

  @mixin atMedium {
    &.lazyloaded {
      background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
    }
  }
}

.section__section-title {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2em;

  @mixin atSmall {
    font-size: 3.75rem;
    margin-bottom: 1.8em;
  }

  @mixin atMedium {
    font-size: 3.75rem;
    margin-bottom: 3rem;
  }

  strong {
    font-weight: 500;
  }
}

.section__section-title--testimonials {
  margin-bottom: 160px;
}

.section__section-title--white {
  color: #FFF;
}

.section__section-title--blue {
  color: $darkblue;
}

.section__icon {
  margin-right: .5rem;
  display: block;
  margin: 0 auto 2rem;

  @mixin atSmall {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    top: 8px;
  }
}

.section--blue {
  background-color: $darkblue;
  color: #fff;
}
