.wrapper {
  padding: 0px 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .wrapper {
    padding: 0;
  }
}

.wrapper--inner {
  max-width: 976px;
}

.wrapper--small {
  max-width: 530px;
}

.wrapper--testimonials {
  padding: 0;

  @mixin atMedium {
    padding: 0px 18px;
  }
}
